NEXT_PUBLIC_GHL_TRACKING_SCRIPT_URL=https://api.alertlawncare.com/js/external-tracking.js
NEXT_PUBLIC_GHL_TRACKING_ID=tk_a7e73cf9f8df47c9aad3f47eba59e3c4
NEXT_PUBLIC_GHL_CONNECT_ORIGINS=
RESEND_API_KEY=
LEAD_TO_EMAIL=
LEAD_FROM_EMAIL=
